code:not(.sourceCode) {
  font-variant-caps: normal;
  font-size: 0.9em;
  background-color: var(--background-color-inline-code);
  padding: var(--padding-inline-code);
  color: var(--font-color-inline-code);
  border-radius: var(--border-radius);
}

div.sourceCode {
  border-radius: var(--border-radius);
  padding: var(--padding-h-normal);
  font-size: 0.9em;
  box-shadow: var(--box-shadow);
}
