a.sourceLine {
  display: inline-block;
  line-height: 1.25;
}
a.sourceLine {
  pointer-events: none;
  color: inherit;
  text-decoration: inherit;
}
a.sourceLine:empty {
  height: 1.2em;
}
.sourceCode {
  overflow: visible;
}
code.sourceCode {
  white-space: pre;
  position: relative;
}
div.sourceCode {
  margin: 1em 0;
}
pre.sourceCode {
  margin: 0;
}
@media screen {
  div.sourceCode {
    overflow: auto;
  }
}
@media print {
  code.sourceCode {
    white-space: pre-wrap;
  }
  a.sourceLine {
    text-indent: -1em;
    padding-left: 1em;
  }
}
pre.numberSource a.sourceLine {
  position: relative;
  left: -4em;
}
pre.numberSource a.sourceLine::before {
  content: attr(title);
  position: relative;
  left: -1em;
  text-align: right;
  vertical-align: baseline;
  border: none;
  pointer-events: all;
  display: inline-block;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0 4px;
  width: 4em;
}
pre.numberSource {
  margin-left: 3em;
  padding-left: 4px;
}
div.sourceCode {
  color: #cccccc;
  background-color: #303030;
}
@media screen {
  a.sourceLine::before {
    text-decoration: underline;
  }
}
code span.al {
  color: #ffcfaf;
} /* Alert */
code span.an {
  color: #7f9f7f;
  font-weight: bold;
} /* Annotation */
code span.at {
} /* Attribute */
code span.bn {
  color: #dca3a3;
} /* BaseN */
code span.bu {
} /* BuiltIn */
code span.cf {
  color: #f0dfaf;
} /* ControlFlow */
code span.ch {
  color: #dca3a3;
} /* Char */
code span.cn {
  color: #dca3a3;
  font-weight: bold;
} /* Constant */
code span.co {
  color: #7f9f7f;
} /* Comment */
code span.cv {
  color: #7f9f7f;
  font-weight: bold;
} /* CommentVar */
code span.do {
  color: #7f9f7f;
} /* Documentation */
code span.dt {
  color: #dfdfbf;
} /* DataType */
code span.dv {
  color: #dcdccc;
} /* DecVal */
code span.er {
  color: #c3bf9f;
} /* Error */
code span.ex {
} /* Extension */
code span.fl {
  color: #c0bed1;
} /* Float */
code span.fu {
  color: #efef8f;
} /* Function */
code span.im {
} /* Import */
code span.in {
  color: #7f9f7f;
  font-weight: bold;
} /* Information */
code span.kw {
  color: #f0dfaf;
} /* Keyword */
code span.op {
  color: #f0efd0;
} /* Operator */
code span.ot {
  color: #efef8f;
} /* Other */
code span.pp {
  color: #ffcfaf;
  font-weight: bold;
} /* Preprocessor */
code span.sc {
  color: #dca3a3;
} /* SpecialChar */
code span.ss {
  color: #cc9393;
} /* SpecialString */
code span.st {
  color: #cc9393;
} /* String */
code span.va {
} /* Variable */
code span.vs {
  color: #cc9393;
} /* VerbatimString */
code span.wa {
  color: #7f9f7f;
  font-weight: bold;
} /* Warning */
