---
title: Home
---
<head>
<link href="css/reset.css" rel="stylesheet" />
<link href="css/styles.css" rel="stylesheet" />
<link href="css/indexStyles.css" rel="stylesheet" />

</head>
<body>
  <div class="data">
    <div class="leftColumn">
      <img src="images/profile.png" alt="profile picture" id="profilePicture"  />
      <h3 id="name">Gregory Hablutzel</h3>
      <div class="homeLinks">
        <p id="email"><a href="mailto: greghab@uw.edu">&#128233; e-mail </a></p>
        <p id="github"><a href="https://github.com/greghab">&#9708; code </a></p>
        <p><a href="https://www.youtube.com/channel/UCaZoY_2CV66KfTn4DVrjgeg?view_as=subscriber">&#128249; youtube </a></p>
        <p id="cv">&#11027; c.v. </p>
      </div>
      <p id="address">&#128506; Tacoma, WA </p>
    </div>
    <div class="rightColumn">
      <div class="aboutMe">
        <p> Hello! I am currently a Junior at UW Tacoma, graduating with a CS degree in '21.</p>
        <p> Currently, I'm trying to 'get good' at Haskell & NixOS.
        <p>This webpage displays some of the projects I am working on, as well as resources I enjoy, and tools I use. Feel free to explore.</p>
      </div>
      <div class="QuoteOfDay">  
        <h3 style="color: #8A6F91;">Quote of the day:</h3>
        <p id="quoteOfDay">"Problems worthy of attack prove their worth by fighting back." - Piet Hein </p>
      </div>
      <div class="CurrentProject">
        <h3 style="color: #8A6F91;">Latest Project:</h3>
        <p> Dactyl Manuform Keyboard</p>
        <!-- This is a screen shot I took of the 3D model on my computer -->
        <figure>
          <img src="images/dactylPurp.jpeg" alt="dactyl" usemap="#projectMap" />
          <figcaption>Click on image (center) to view project</figcaption>
        </figure>
        <map name="projectMap">
          <area shape="rect" coords="50,10,200,100" href="projects.html" alt="dactyl-project" />
        </map>
      </div>


      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

      
      
      <div class="Block">
        
        <h3 style="color: #8A6F91;">Recent Blog Posts:</h3>
        $partial("templates/post-list.html")$

      </div>
    </div>
  </div>
</body>
