<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>My Hakyll Blog - $title$</title>
  <link rel="stylesheet" href="/css/default.css" />
  <link href="/css/reset.css" rel="stylesheet" />
  <link href="/css/styles.css" rel="stylesheet" />
  <link href="/css/indexStyles.css" rel="stylesheet" />

</head>
<body>
  <header>
    <nav class="horizontal">
      <ul class="navMenu">
        <li><a href="/">Home</a></li>
        <li><a href="/projects.html">Projects</a></li>
        <li><a href="/quotes.html">Quotes</a></li>
        <li><a href="/archive.html">Blog</a></li>
        <li><a href="/misc.html">Misc</a> </li>
      </ul>
    </nav>
  </header>

  <main role="main">
    $body$
  </main>
</body>
