<meta charset="utf-8">
<link href="/css/code.css" rel="stylesheet" />
<link href="/css/zenburn.css" rel="stylesheet" />
<link href="/css/separator.css" rel="stylesheet" />

<article>
    <section class="header">
        Posted on $date$
        $if(author)$
            by $author$
        $endif$
    </section>
    <section>
        $body$
    </section>
</article>
